In [30]:
import numpy as np
import pandas as pd

In [31]:
pd.DataFrame([["1-total_bill","2-tip","3-sex","4-smoker","5-day","6-time","7-size"]])

              0      1      2         3      4       5       6
0  1-total_bill  2-tip  3-sex  4-smoker  5-day  6-time  7-size

# extract data from csv file to numpy array

In [34]:
arr=pd.read_csv(r"C:\Users\HARI KRISHNA\Downloads\tipsf.csv")
arr

     Unnamed: 0  total_bill   tip  sex  smoker  day  time  size
0             0       16.99  1.01    0       0    1     0     2
1             1       10.34  1.66    1       0    1     0     3
2             2       21.01  3.50    1       0    1     0     3
3             3       23.68  3.31    1       0    1     0     2
4             4       24.59  3.61    0       0    1     0     4
..          ...         ...   ...  ...     ...  ...   ...   ...
239         239       29.03  5.92    1       0    0     0     3
240         240       27.18  2.00    0       1    0     0     2
241         241       22.67  2.00    1       1    0     0     2
242         242       17.82  1.75    1       0    0     0     2
243         243       18.78  3.00    0       0    2     0     2

[244 rows x 8 columns]

In [35]:
arrb=arr.copy()

# Q 1) : what is the total bill value?

In [38]:
arrb["total_bill"].sum()

4827.77

# Q 2) :  what is the total tip value?

In [37]:
arrb["tip"].sum()

731.5799999999999

# Q 3) : count how many sunday,saturday,thursday,fridays are there?

In [39]:
arrb["day"].value_counts()

0    87
1    76
2    62
3    19
Name: day, dtype: int64

# Q 4) : how many smokers are there?

In [42]:
arrb.loc[arrb["smoker"]==1,["smoker"]].size

93

# Q 5) : what is the average tip given by female and male?

In [44]:
male=arrb.loc[arrb["sex"]==1,["tip"]].mean()
male

tip    3.089618
dtype: float64

In [45]:
female=arrb.loc[arrb["sex"]==0,["tip"]].mean()
female

tip    2.833448
dtype: float64

# Q 6) : how much amount is spent has been spent by female?

In [47]:
female_bill=arrb.loc[arrb["sex"]==0,["total_bill"]].sum()
female_bill

total_bill    1570.95
dtype: float64

# Q 7) : what is the minimum and maximum tip given?

In [50]:
min1=arrb["tip"].min()
min1

1.0

In [51]:
max1=arrb["tip"].max()
max1

10.0

# Q 8) : howmany males and females are going for dinner,and lunch?

In [52]:
lunch=arrb.loc[arrb["time"]==0,["sex"]].value_counts()
lunch

sex
1      124
0       52
dtype: int64

In [53]:
dinner=arrb.loc[arrb["time"]==1,["sex"]].value_counts()
dinner

sex
0      35
1      33
dtype: int64

# Q 9) : find out the average size?

In [54]:
arrb["size"].mean()

2.569672131147541

# Q 10) : how many female smokers are there and male smokers are there?

In [55]:
smokers=arrb.loc[arrb["smoker"]==1,["sex"]].value_counts()
smokers

sex
1      60
0      33
dtype: int64

In [8]:
np.array(["1-Length","2-Diameter","3-Height","4-Weight","5-Shucked Weight","6-Viscera Weight","7-Shell Weight","8-Age"])

array(['1-Length', '2-Diameter', '3-Height', '4-Weight',
       '5-Shucked Weight', '6-Viscera Weight', '7-Shell Weight', '8-Age'],
      dtype='<U16')

# extract data from csv file to numpy array

In [6]:
arr=pd.read_csv(r"C:\Users\HARI KRISHNA\Downloads\train_extended.csv")
arr

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,10
1,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,19
2,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,11
3,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,9
4,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,8
...,...,...,...,...,...,...,...,...
199995,1.8125,1.2750,0.4375,42.141532,20.000572,9.979024,11.609120,11
199996,0.9875,0.6750,0.2375,7.980384,3.742134,1.913591,2.267960,6
199997,1.1250,0.9125,0.2875,10.886208,4.904464,1.984465,3.118445,7
199998,1.6250,1.2750,0.4125,33.891827,13.196692,7.866986,10.489315,11
199999,1.5875,1.2500,0.3875,34.373769,17.222321,7.385045,8.788345,11

In [7]:
arrc=arr.copy()

# Q 1) : what is the minimum and maximum length?

In [9]:
max1=arrc["Length"].max()
max1

7.58349125

In [10]:
min1=arrc["Length"].min()
min1

0.0

# Q 2) : what is the difference between minimum and maximum length ?

In [12]:
max1-min1

7.58349125

# Q 3) :find columnwise average

In [13]:
arrc.mean()

Length             1.312448
Diameter           1.020320
Height             0.346028
Weight            23.123436
Shucked Weight     9.989370
Viscera Weight     4.993181
Shell Weight       6.634229
Age                9.950615
dtype: float64

# Q 4) :findout all the ages whose height is greater than 0.4

In [14]:
arrc.loc[arrc["Height"]>0.4,["Age"]]

        Age
2        11
6        14
7        13
10       10
14       14
...     ...
199976   14
199977   21
199984   11
199995   11
199998   11

[55336 rows x 1 columns]

# Q 5) :what is the average height and weight of the persons whose age is 10?

In [15]:
A=arrc.loc[arrc["Age"]==10,["Height","Weight"]]
A.mean()

Height     0.383367
Weight    28.243308
dtype: float64

# Q 6) :what is the shell weight?

In [16]:
arrc["Shell Weight"].sum()

1326845.8295214002

# Q 7) :how many persons belongs belongs to each and every unique age?

In [17]:
arrc["Age"].value_counts()

9     32906
10    30803
8     26818
11    23457
7     18276
12    12717
6     12450
13    10037
14     6352
5      5475
15     4831
16     3191
4      2787
17     2705
18     1953
19     1591
20     1206
21      721
3       625
23      352
22      296
24      110
27       99
29       57
25       51
26       46
1        46
2        42
Name: Age, dtype: int64

# Q 8) :what is the difference between shucked weight and viscera weight?

In [19]:

arrc["difference"]=arrc["Shucked Weight"]-arrc["Viscera Weight"]
arrc

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age,difference
0,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,10,5.981744
1,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,19,3.855532
2,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,11,4.110678
3,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,9,5.627376
4,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,8,2.990872
...,...,...,...,...,...,...,...,...,...
199995,1.8125,1.2750,0.4375,42.141532,20.000572,9.979024,11.609120,11,10.021548
199996,0.9875,0.6750,0.2375,7.980384,3.742134,1.913591,2.267960,6,1.828543
199997,1.1250,0.9125,0.2875,10.886208,4.904464,1.984465,3.118445,7,2.919999
199998,1.6250,1.2750,0.4125,33.891827,13.196692,7.866986,10.489315,11,5.329706
199999,1.5875,1.2500,0.3875,34.373769,17.222321,7.385045,8.788345,11,9.837277

# Q 9) :what is the average height of the person whose age is between 14 & 19?

In [24]:
avgh=arrc.loc[arrc["Age"]>14,["Height"]].loc[arrc["Age"]<19,["Height"]]
avgh.mean()

Height    0.41907
dtype: float64

# Q 10) :what is the average weight if we include shucker weight,viscera weight & shell weight?

In [25]:
arrc[["Weight","Shucked Weight","Viscera Weight","Shell Weight"]].mean().mean()

11.18505416634679